{% macro displayPitches(pitches_list)%}
    {%for pitch in pitches_list%}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <div class="well well-lg">
                <h4>{{pitch.pitch_title}}</h4>
                <p>{{pitch.pitch_content}}</p>
            <button><a href="{{url_for("main.upvote",id=pitch.id)}}"><i class="fa fa-thumbs-up" style="font-size: 20px;color: blue;"></i>{{pitch.upvote.count()}}</a></button>
            <button><a href="{{url_for("main.downvote",id=pitch.id)}}"><i class="fa fa-thumbs-down" style="font-size: 20px;color: red;"></i>{{pitch.downvote.count()}}</a></button>
            <button><a href="{{url_for("main.comment",pitch_id=pitch.id)}}">Comment</a></button>

            </div>
        </div>
    {%endfor%}
{%endmacro%}